@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");

:root {
  --gradient: #303030;
  --white: #fff;
  --black: #000;
  --body: #fff;
  --header: #251302;
  --focus: #7c7c7c;
  --active: #353535;
  --grey: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body);
}

header {
  background-color: var(--header);
  width: 100%;
  padding: 20px;
  margin-bottom: -15px;
  box-shadow: 0 10px 50px var(--grey);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  width: 98%;
  margin: auto;
  padding: 20px;
  border: 2px solid var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar h1 {
  color: var(--white);
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}

#navbar ul li a {
  user-select: none;
  text-decoration: none;
  color: var(--white);
}

#navbar ul li a:hover {
  color: var(--focus);
}

#navbar ul li a:focus {
  color: var(--focus);
}

#navbar ul li a:active {
  color: var(--active);
}

#navbar ul li:nth-child(1) {
  width: 70px;
  border-right: 2px solid var(--white);
}

#navbar ul li:nth-child(2) {
  width: 70px;
  border-right: 2px solid var(--white);
}

#date {
  width: 95%;
  height: 25px;
  padding: 5px;
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
  color: var(--black);
  font-weight: 400;
  font-family: monospace;
  font-size: 1.3rem;
  z-index: 2;
}

#section_list {
  width: 95%;
  text-align: center;
}

#section_list h1,
#add_section h1,
#contact_section h1 {
  color: var(--header);
  margin: 80px 0 20px;
  font-size: 2rem;
}

#book_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 500px;
  overflow-y: auto;
  border: 2px solid var(--black);
  box-shadow: 0 1px 20px var(--header);
}

#section_list #book_list li {
  width: 99%;
  height: 30px;
  margin: 5px auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._title {
  width: 30%;
  padding-left: 5px;
  text-align: start;
}

._author {
  width: 64%;
  padding-left: 5px;
  text-align: start;
}

.rmvBook {
  width: 70px;
  height: 30px;
  cursor: pointer;
  border: 1px solid var(--grey);
  outline: none;
}

.rmvBook:hover {
  background-color: var(--header);
  color: var(--white);
}

#add_section {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addBook {
  width: 70%;
  margin-top: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#addBook input {
  height: 30px;
  width: 100%;
  outline: none;
  padding: 5px;
  border: 1px solid var(--black);
  margin: 10px auto;
}

#addBook button {
  width: 50px;
  height: 30px;
  align-self: flex-end;
  cursor: pointer;
  border: 1px solid var(--grey);
  outline: none;
}

#addBook button:hover {
  background-color: var(--header);
  color: var(--white);
}

#contact_section h1 {
  margin-top: 80px;
  text-align: center;
}

#contact_section .contact_info_container {
  margin-top: 80px;
}

#contact_section .contact_info_container ul {
  margin: 20px 40px auto;
}

.footer {
  position: absolute;
  width: 95%;
  height: 40px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 2px solid var(--black);
  bottom: 10px;
}

.display_none {
  display: none !important;
}

/* keyframe start */

.title-animate {
  animation-duration: 0.5s;
  animation-name: slide_lr;
}

@keyframes slide_lr {
  from {
    margin-left: -100%;
    width: 30%;
  }

  to {
    margin-left: 0%;
    width: -100%;
  }
}

footer p {
  animation-duration: 0.3s;
  animation-name: slide_rl;
}

@keyframes slide_rl {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.topToBottom {
  animation-duration: 0.3s;
  animation-name: slide_tb;
}

@keyframes slide_tb {
  from {
    margin-left: -100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* keyframe end */


@media ( min-width: 992px){
 #section_list #book_list{
   margin: auto;
    width: 70%;
  }
}